{
  "presets": [
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "shippedProposals": true,
        "corejs": {
          "version": "3.21",
          "proposals": true
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-class-properties"
  ]
}
